{% extends "base.html" %}

{% block content %}
  <h1> sign up </h1>
    <form  method="post">
    <table>
      <tr>
        <td>

            Username:

        </td>
        <td>
          <input type="input" name="username" value="{{ username }}">
        </td>
        <td>
          <div style="color : red">{{ error_username }}</div>
        </td>
      </tr>
      <tr>
        <td>

            password:

        </td>
        <td>
          <input type="Password" name="password" value="">
        </td>
        <td>
          <div style="color : red">{{ error_password }}</div>
        </td>
      </tr>
      <tr>
        <td>

            verify password:

        </td>
        <td>
          <input type="Password" name="verify" value="">
        </td>
        <td>
          <div style="color : red">{{ error_verify }}</div>
        </td>
      </tr>
      <tr>
        <td>

            email:

        </td>
        <td>
          <input type="input" name="email" value="{{ email }}">
        </td>
        <td>
          <div style="color : red">{{ error_email }}</div>
        </td>
      </tr>

    </table>
    <button>submit</button>
    </form>
    <h3><a href="/blog/login">already a user ?</a></h3>
{% endblock %}